{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challanges/index.css" %}">
<link rel="stylesheet" href="{% static "challanges/includes/header.css" %}">
{% endblock %}

{% block page_title %}
  All Challanges
{% endblock %}
{% block content %}
  {% include 'challanges/includes/header.html' %}
  <ul>
    {% for month, path in month_path_list %}
      <li>
        <a href="{% url 'month-challanges' month %}">{{ month|title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
