@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html {
    font-family: "Dancing Script", cursive;
}

body {
    margin: 0;
    background-color: rgb(42, 41, 41);
}